<h2>Todas las publicaciones</h2>
<br/>

<div class="panel panel-default">

	<!-- Author info -->
	<div class="panel-heading">
		<h4>
			<a href>
				<img src="assets/images/none.png" width="28px" height="28px">
				Leandro Gao
			</a>
			<time class="small" datetime="">
				Ahora mismo
			</time>
		</h4>
	</div>

	<!-- Post message -->
	<div class="panel-body">
		<p>
			¡Hola!
		</p>
	</div>

</div>

<button class="btn btn-primary center-block">
	Cargar más
</button>

<button class="btn btn-danger center-block" disabled="disabled">
	<em>No hay más publicaciones.</em>
</button>

<br/><br/>
