<h2>Todas las publicaciones</h2>
<br/>

<div class="panel panel-default" ng-repeat="post in allCtrl.postList">

	<!-- Author info -->
	<div class="panel-heading">
		<h4>
			<a ui-sref="private.profile({ userId: post.author.id })">
				<img src="assets/images/none.png" width="28px" height="28px">
				{{ post.author.name }} {{ post.author.surnames }}
			</a>
			<time class="small" datetime="{{ post.createdAt }}">
				{{ post.createdAt }}
			</time>
		</h4>
	</div>

	<!-- Post message -->
	<div class="panel-body">
		<p>
			{{ post.message }}
		</p>
	</div>

</div>

<button class="btn btn-primary center-block"
        ng-if="allCtrl.hasMorePosts"
        ng-click="allCtrl.doLoadMore()">
	Cargar más
</button>

<button class="btn btn-danger center-block"
        ng-if="!allCtrl.hasMorePosts"
        disabled="disabled">
	<em>No hay más publicaciones.</em>
</button>

<br/><br/>
