<div class="well">

	<div class="row">

		<div class="col-sm-4">
			<img src="assets/images/social.jpg" class="center-block img-thumbnail">
		</div>

		<div class="col-sm-8">
			<form ng-submit="registerCtrl.doRegister()">

				<h2>¡Regístrate en <em>caralibro</em>!</h2>
				<br/>

				<h3>Información personal</h3>

				<div class="form-group">
					<input type="text" class="form-control"
					       ng-model="registerCtrl.newUser.name"
					       placeholder="Nombre" required>
				</div>

				<div class="form-group">
					<input type="text" class="form-control"
					       ng-model="registerCtrl.newUser.surnames"
					       placeholder="Apellidos" required>
				</div>

				<h3>Información de acceso</h3>

				<div class="form-group">
					<input type="text" class="form-control"
					       ng-model="registerCtrl.newUser.username"
					       placeholder="Usuario" required>
				</div>

				<div class="form-group">
					<input type="password" class="form-control"
					       ng-model="registerCtrl.newUser.password"
					       placeholder="Contraseña" required minlength="6">
				</div>

				<div class="form-group">
					<input type="password" class="form-control"
					       ng-model="registerCtrl.newUser.password2"
					       placeholder="Repetir contraseña" required minlength="6">
				</div>

				<button type="submit" class="btn btn-primary pull-right">Registrarse</button>
				<div class="clearfix"></div>

			</form>
		</div>

	</div>

</div>
